*checkpoints*
*out
.DS_Store
*.vcf.gz
Shiny/data/Victor/full2543Matrix.DP10.GQ20.SNPs.99pNonMiss.Biallelic.IDset.vcf.gz.swapped.newick
Shiny/data/Victor/operationalTable2543Sace_withCountry_MexAgave.csv
ceberlein_data
figures
*tex
sharing.csv.gz
_extensions/quarto-ext/lightbox/resources/js/glightbox.min.js
_extensions/quarto-ext/lightbox/_extension.yml
_extensions/quarto-ext/lightbox/lightbox.css
_extensions/quarto-ext/lightbox/lightbox.lua
_extensions/quarto-ext/lightbox/resources/css/glightbox.min.css
unnamed-chunk*
*.css
*.js
*.woff
**/*.keras
**/*.HTML
.Rproj.user
.RData
.Rhistory
Shiny/data/ChrisC2-AF.csv.gz.allelesharing.csv.gz
Shiny/data/ChrisC3-AF.csv.gz.allelesharing.csv.gz
Shiny/data/ChrisC4-AF.csv.gz.allelesharing.csv.gz
Shiny/data/ChrisC5-AF.csv.gz.allelesharing.csv.gz
Shiny/data/ChrisC6-AF.csv.gz.allelesharing.csv.gz
Shiny/data/ChrisC7-AF.csv.gz.allelesharing.csv.gz
Shiny/data/ChrisC8-AF.csv.gz.allelesharing.csv.gz
Shiny/data/YJNRC2-AF.csv.gz.allelesharing.csv.gz
Shiny/data/YJNRC18-AF.csv.gz.allelesharing.csv.gz
Shiny/data/YJNRC17-AF.csv.gz.allelesharing.csv.gz
Shiny/TRD/.Rhistory
Shiny/TRD/.Rhistory
